body {
    margin: 0;
    overflow: hidden; /* Prevent scrollbars */
    background-color: #f0f0f0; /* Fallback background color */
}

canvas {
    display: block; /* Remove extra space below canvas */
    width: 100%; /* Make canvas responsive width */
    height: 100vh; /* Make canvas responsive height, viewport height */
}

#weaponSlots {
    position: absolute;
    bottom: 2vh; /* Use viewport height units for better scaling */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Fine-tune centering */
    display: flex;
    gap: 2vw; /* Use viewport width units for better spacing */
}

#weaponSlots img {
    height: auto; /* Maintain aspect ratio */
    width: 5vw; /* Adjust width to be a larger percentage of viewport width */
    max-width: 3vw; /* Increase max-width slightly */
    filter: grayscale(1);
}

#weaponSlots #booster {
    opacity: 1;
    cursor: pointer;
    filter: grayscale(0)
}

#orientationWarning {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.5em;
    text-align: center;
    z-index: 100; /* Ensure it's on top */
}

#weaponSlots img.unlocked {
    opacity: 1;
    cursor: pointer;
}


